@import './bootstrap-overrides';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.nav-link{
color: $gray-400;
font-size: 0.8em
}
.navbar-nav .nav-link.active,
.navbar-toggler
{
color: $gray-100;

}
.nav-link:hover{
    color: $gray-600;
}


.navbar-toggler{
    border: var(--#{$prefix}border-width) solid $gray-800
}
.navbar-toggler-icon {
    
    background-image: none;
 
  }
  .form-control{
    max-width: 120px;
  }
.img-dropdown{
    max-width: 50px;
}
 
 .btn{
    border-radius: 0;
    &.show{
        background-color: $gray-700;
    }
    &:hover{
        background-color: $gray-700;
    }
 }
 .dropdown-menu{
    background-color: $gray-700;
 }
 h1{
    font-size: 3em;
 }
 .btn{
    width: 100%;
 }
.changeCat:hover{
box-shadow: createShadow($gray-600, 10);
 }
